* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sidebar_width: 320px;
}

.sidebar {
    position: fixed;
    background-color: #003060;
    color: #fff;
    width: var(--sidebar_width);
}

.sidebarClub {
    position: fixed;
    background-color: #003060;
    color: #003060;
    width: var(--sidebar_width);
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.profile-content {
    font-size: smaller;
}

.sidebar-btn.active {
    background-color: #2D6092;
}

.bookclub-side-btn {
    background-color: #2D6092;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

.form-control:focus {
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.input-group-text,
.form-control {
    border: none;
    background-color: #fff;
}

.form-control {
    margin-right: 2em;
}

.input-group-text i {
    color: #003060;
}

.nav-underline {
    margin-left: 1em;
}

.nav-underline .nav-item .nav-link.active {
    color: #E55B13;
}

.nav-underline .nav-item {
    margin-right: 20px;
}

.custom-nav-link {
    color: #003060;
}

.card {
    margin: 0;
    color: #003060;
}

.card-post {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 4em;
}

.card-header {
    padding: 15px;
    background-color: #fff;
}

.card-dets h5 {
    font-size: 15px;
    font-weight: bold;
}

.card-dets p {
    font-size: 13px;
}

.card-dets small {
    font-size: 10px;
}

.dropdown i {
    color: #E55B13;
}

.dropdown-menu a {
    color: #003060;
}

.card-body {
    padding: 20px;
}

.card-body p {
    font-size: 12px;
}

.card-body img {
    margin-right: 20px;
}

.card-footer {
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.card-footer i {
    margin-right: 7px;
}

.card-footer .btn-link {
    text-decoration: none;
    color: #E55B13;
    padding: 5px 10px;
}

.card-footer .btn-link:hover {
    color: #003060;
}

.custom-sticky-card {
    position: sticky;
    top: 110px;
    z-index: 100;
}

.card-sidebar {
    margin: 0;
    border: none;
    margin-right: 2em;
    max-height: 800px;
    overflow-y: auto;
}

.card-sidebar .card-header {
    border-bottom: none;
}

.card-sidebar .card-header h5 {
    color: #E55B13;
}

.card-sidebar .card-header small {
    color: #6d6c6c;
}

.card-sidebar .card-header i {
    margin-left: 7px;
}

.card-sidebar .card-body {
    cursor: pointer;
}

.card-cover {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 4em;
}

.selling-header {
    background-image: url('../assets/header3.jpg');
    padding: 70px;
    margin-top: 0;
    border: none;
}

.exchange-header {
    background-image: url('../assets/header1.jpg');
    padding: 70px;
    margin-top: 0;
    border: none;
    background-size: contain;
}

.renting-header {
    background-image: url('../assets/header2.jfif');
    padding: 70px;
    margin-top: 0;
    border: none;
    background-size: fill;
}

.card-body h6 {
    font-size: 20px;
    white-space: nowrap;
}

.card-body i {
    border: none;
    color: #003060;
    font-size: 20px;
}

.search-club {
    width: 15em;
    border: 1px solid #E55B13;
    color: #fff;
    font-size: 15px;
}

.search-club:focus {
    box-shadow: inset 0px 0px 0px 1px #003060;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-holder {
    height: 100px;
    width: 9em;
    margin-right: 10px;
    border: 1px dashed #ccc;
    color: #e4e4e4;
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-holder i {
    padding: 1em;
    font-size: 20px;
}

.modal-body {
    color: #003060;
}

.event-card {
    border-radius: 5px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 3.3em;
    padding: 1em;
    font-size: 14px;
}

.event-card img {
    width: 90%;
    height: auto;
}

.event-details {
    padding: 20px;
}

.event-details h5 {
    font-size: 16px;
}

.event-details a {
    color: #E55B13;
    text-decoration: none;
    font-size: 13px;
    margin-top: -.5em;
}

.event-details a:hover {
    color: #003060;
}

.event-details .text-muted {
    color: #888;
}

.event-details .btn-primary {
    width: 20%;
    float: right;
    background-color: #fff;
    color: #003060;
    border-color: #003060;
    margin-top: 5em;
}

.setup {
    background-color: #003060;
    color: #fff;
    padding: 5px;
    width: 90%;
}

.join-btn:hover {
    background-color: #E55B13;
    color: #fff;
    border-color: #E55B13;
}

.card-text {
    text-align: justify;
}

.event-dets input,
.event-dets select,
.event-dets textarea {
    border: 1px solid #ddd;
    color: #003060;
}

.input-group-text,
.form-control {
    border-color: #ddd;
}

.row {
    margin-bottom: 1em;
}

.upload-image-btn {
    background-color: #fff;
    border: none;
    color: #003060;
}

.upload-image-btn:hover {
    border: 1px solid #003060;
    background-color: transparent;
    color: #003060;
}

.post-btn {
    border: 1px solid #E55B13;
    background-color: #E55B13;
    color: #fff;
    width: 12em;
}

.post-btn:hover {
    border: 1px solid #003060;
    background-color: #003060;
    color: #fff;
}

.card-participants {
    border: none;
}

.card-joined {
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.joined-header {
    font-weight: bold;
    font-size: 17px;
    height: 3em;
    text-align: center;
}

.card-members {
    max-height: 200px;
    overflow-y: auto;
}

.member-header {
    font-weight: bold;
}

/* _____ */
#eventOuterContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

#joinEvent {
    background-color: #003060;
    color: white;
}

#joinEvent:hover {
    background-color: #E55B13;
    color: white;
}

.eventHeader {
    color: #003060;
    font-weight: 600;
    font-size: 20px;
}

.event_poser {
    color: black;
    opacity: 0.6;
    font-size: 14px;
}

/* hide modal */
.hideModal {
    display: none;
}

/* book selling club post stuff */
.imageLabels {
    position: relative;
    font-size: 30px;
    font-weight: 700;
}

#first_img,
#second_img,
#third_img,
#fourth_img,
#fifth_img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.labelWithImg {
    height: 100px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 1rem;
}

.postHeader {
    height: 90px;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.postBody {
    height: auto;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* post caption */
.postCaption {
    height: auto;
    width: inherit;
    padding-left: 15px;
    margin-top: 15px;
    color: #003060;
}

.postFooter {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 15px;
}

.postMejInnerContainer {
    height: auto;
    width: 900px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    position: relative;
}

/* comment container */
.commentOuterContainer {
    height: auto;
    width: inherit;
}

.commentInnerContainer {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#commentInputFieldContainer {
    height: 50px;
    widtH: 500px;
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 15px;
    padding-left: 15px;
}

#commentSubmitButton {
    height: 50px;
    width: 90px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #003060;
    color: white;
    border: none;
}

/* ellipsis for post container */
.ellipsis {
    height: 40px;
    width: 40px;    
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    cursor: pointer;
}

.ellipsisPopUp {
    height: 70px;
    width: 150px;
    position: inherit;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.ellipsisInitialState {
    display: none;
}

/* ellipsis pop up elements */
.popUpElements {
    font-size: 15px;
    font-weight: 400;
    color: #003060;
    padding: 0 0 0 15px;
    height: auto;
    width: 100%;
}

.popUpElements:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* user profile container in post card */
.userProfileCtn {
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* name and date container ha post header */
.nameAndDateContainer {
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
}

/* name and date for my wall */
.nameAndDateContainerForMyWall {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    color: grey;
}

/* threeInOne para la ini ha my wall */
.threeInOne {
    height: inherit;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
}

.clubName {
    font-size: 22px;
    font-weight: 700;
    color: #003060;
}

/* got post images */
.postImgContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    padding-left: 15px;
    margin: 15px 0 15px 0;
}

.postImages {
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* event inner container */
.eventInnerContainer {
    width: 900px;
    max-width: 900px;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 0 4px grey;
}

/* media queries post inner container */
@media (max-width: 1600px) {
    .postInnerContainer {
        width: 700px;
    }

    @media (max-width: 1500px) {
        .postInnerContainer {
            width: 650px;
        }

        @media (max-width: 1350px) {
            .postInnerContainer {
                width: 550px;
            }

            @media (max-width: 1150px) {
                .postInnerContainer {
                    width: 450px;
                }

                @media (max-width: 1000px) {
                    .postInnerContainer {
                        width: 560px;
                    }
                }
            }
        }
    }
}

/* media queries event inner container */
@media (max-width: 1600px) {
    .eventInnerContainer {
        width: 700px;
    }

    @media (max-width: 1500px) {
        .eventInnerContainer {
            width: 650px;
        }

        @media (max-width: 1350px) {
            .eventInnerContainer {
                width: 550px;
            }

            @media (max-width: 1150px) {
                .eventInnerContainer {
                    width: 450px;
                }

                @media (max-width: 1000px) {
                    .eventInnerContainer {
                        width: 560px;
                    }
                }
            }
        }
    }

    .py-profile .avatar {
        padding: 0;
    }

    .py-profile .avatar:after {
        font-family: 'fontawesome' !important;
        content: "\f0d7";
        border: none;
        padding-top: 9px;
        color: #003060;
        background-color: #ffffff;
        position: absolute;
        display: block;
        font-size: 13px;
        width: 17px;
        height: 17px;
        border-radius: 25px;
        line-height: 0;
        text-align: center;
        bottom: 1px;
        right: 27px;
        margin: 0;
        border: 1px solid #003060;
    }
}