:root {
    --sidebar_width: 320px;
}

.sidebar {
    position: fixed;
    background-color: #003060;
    color: #fff;
    width: var(--sidebar_width);
}

.profile-content {
    font-size: smaller;
}

#home-side-btn {
    background-color: #2D6092;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

#educational,
#historical_fiction,
#poetry_prose,
#self_help,
#romance_saga,
#science_fiction,
#fantasy_adventure,
#young_adult,
#mystery_suspense,
#crime_thriller,
#horror_supernatural,
#comedy_satire,
#nonfiction_biography {
    padding-top: 90px;
}

#educational-header:hover,
#historical-fiction-header:hover,
#poetry-prose-header:hover,
#self-help-header:hover,
#romance-saga-header:hover,
#science-fiction-header:hover,
#fantasy-adventure-header:hover,
#young-adult-header:hover,
#mystery-suspense-header:hover,
#crime-thriller-header:hover,
#horror-supernatural-header:hover,
#comedy-satire-header:hover,
#nonfiction-biography-header:hover {
    cursor: pointer;
    text-decoration: underline;
}

a,
h4,
p {
    color: #003060;
    text-decoration: none;
}

a:hover {
    color: #E55B13;
    font-weight: bold;
}

.drpdwn-genre {
    color: #003060;
}

.drpdwn-genre:hover {
    font-weight: bold;
    color: #E55B13;
    text-decoration: underline;
}

#book-title {
    color: #003060;

}

.card-text {
    font-size: smaller;
}

.price {
    color: #E55B13;
}

.btn-card {
    border: 1px solid #E55B13;
}

.btn-card:hover {
    background-color: #E55B13;
}

.educational-content,
.historical-fiction-content,
.poetry-prose-content,
.self-help-content,
.romance-saga-content,
.science-fiction-content,
.fantasy-adventure-content,
.young-adult-content,
.mystery-suspense-content,
.crime-thriller-content,
.horror-supernatural-content,
.comedy-satire-content,
.nonfiction-biography-content {
    display: none;
}

.educational_text,
.historical_fiction_text,
.poetry_prose_text,
.self_help_text,
.romance_saga_text,
.science_fiction_text,
.fantasy_adventure_text,
.young_adult_text,
.mystery_suspense_text,
.crime_thriller_text,
.horror_supernatural_text,
.comedy_satire_text,
.nonfiction_biography_text {
    color: #E55B13;
    border-bottom: 3px solid #E55B13;
}

.button-container {
    display: flex;
    align-items: center;
}

.add-button,
.like-button {
    color: #2D6092;
    background: none;
    border: none;
    padding: 0;
}

.add-button:hover,
.like-button:hover {
    color: #E55B13;
    background-color: transparent;
}

.add-button::after {
    display: none;
}

.dropdown-menu .dropdown-item {
    color: #003060;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}