:root {
    --sidebar_width: 320px;
}

.sidebar {
    position: fixed;
    background-color: #003060;
    color: #fff;
    width: var(--sidebar_width);
}

.sidebarProfile {
    position: fixed;
    background-color: #003060;
    color: #003060;
    width: var(--sidebar_width);
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.profile-content {
    font-size: smaller;
}

#home-side-btn {
    background-color: #2D6092;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

.nav-underline{
    margin-left: 7em;
}

.nav-underline .nav-item .nav-link.active {
    color: #E55B13;
}

.nav-underline .nav-item {
    margin-right: 20px;
}

.custom-nav-link {
    color: #003060;
}

.change-password-container{
    color: #003060;
    margin-left: 2em;
    margin-top: 2em;
}

.change-password-container .header{
    margin-bottom: 4em;
}

.password-details .input-text{
    margin-bottom: 2em;
    width: 30em;
}

.password-details input{
    width: 30em;
}

.btn-save{
    margin-top: 2em;
    width: 10em;
    background-color: #E55B13;
    border-color: #E55B13;
    margin-bottom: 2em;
    margin-left: 7em;
}

.btn-save:hover{
    background-color: #003060;
    border-color: #003060;
}

.search-field:focus {
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.input-group-text, .search-field {
    border: none;
    background-color: #fff;
}

.search-field {
    margin-right: 2em;
}

.input-group-text i{
    color: #003060;
}