:root {
    --sidebar_width: 320px;
}

body {
    background-color: #f6f9ff;
}

.adminsidebar {
    position: fixed;
    background-color: #fff;
    color: #fff;
    width: var(--sidebar_width);
}

.profile-content {
    font-size: smaller;
}

.home-side-btn {
    background-color: #2D6092;
    color: #fff;
}

.top-nav {
    margin-left: 2em;
    margin-right: 3em;
    margin-top: 1em;
    border-radius: 5px 5px 5px 5px;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #003060;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

.form-control:focus {
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.input-group-text,
.form-control {
    border: none;
    background-color: #fff;
}

.form-control {
    margin-right: 2em;
}

.input-group-text i {
    color: #003060;
}

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

#main-page {
    margin-top: 30px;
    padding: 20px 30px;
    transition: all 0.3s;
}

.pagetitle {
    margin-bottom: 10px;
}

.pagetitle h1,
.text-admin {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #003060;
}

.pagetitle h2 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
    color: #003060;
}

.pagetitle h3 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
    color: #003060;
    margin-left: 1em;
}

.text-admin {
    color: #E55B13;
}

.pagetitle h1 {
    margin-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-admin {
    font-family: "Nunito", sans-serif;
}

.dashboard .info-card {
    padding-bottom: 10px;
}

.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

.card-body {
    padding: 0 20px 20px 20px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.dashboard .users-card .card-icon {
    color: #82b5e7;
    background: #f6f6fe;
}

.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .info-card h6 {
    font-size: 28px;
    color: #012970;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.dashboard .info-card {
    padding-bottom: 10px;
}

.dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

a {
    color: #4154f1;
    text-decoration: none;
}

.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    animation-name: dropdown-animate;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dashboard .filter .dropdown-header {
    padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.dashboard .listings-card .card-icon {
    color: #c7bd2d;
    background: #f7f1b6;
}

.dashboard .reported-card .card-icon {
    color: #af2520;
    background: #ffecdf;
}

.dashboard .post-card .card-icon {
    color: #0e6d32;
    background: #c4e0cf;
}

.dashboard .reported-listing-card .card-icon {
    color: #4e0739;
    background: #d1abc6;
}

.dashboard .refund-card .card-icon {
    color: #05595f;
    background: #8fcace;
}

.dashboard .review-card .card-icon {
    color: #423705;
    background: #b4a974;
}

.dropdown-item {
    color: #003060;
}

.custom-nav{
    background-color: #fff;
}

.custom-nav:hover{
    background-color: #003060;
}

.book-image img {
    width: 5em;
    height: 5em;
}

.table-card {
    padding: 2em;
    color: #003060;
}

.search-table {
    border: 1px solid #e0e0e6;
    margin-left: 7px;
}

.search-table:focus {
    box-shadow: inset 0px 0px 0px 1px #003060;
}

.dataTables_length label, .dataTables_filter label {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.drop-table {
    width: 5em;
    margin-left: 7px;
    margin-right: 7px;
}

.status{
    width: 9em;
    margin-left: 7px;
}

.list-details{
    color: #003060;
    text-decoration: underline;
}

.list-details:hover{
    color: #E55B13;
}

.drop-table:focus, .status:focus, .time:focus {
    box-shadow: inset 0px 0px 0px 1px #003060;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end
}

div.table-responsive>div.dataTables_wrapper>div.row {
    margin: 0
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-link {
    padding: .625rem;
    min-width: calc( 2rem + 0px );
    font-size: .75rem;
    line-height: 1
}

.dataTable th, .dataTable td, .pagination a{
    color: #003060;
}

.view-reports .icon:hover{
 color: #E55B13;
 text-decoration: underline;
}
