/* :root {
    --sidebar_width: 320px;
} */
* {
    box-sizing: border-box;
    margin: 0;
}

.sidebar {
    position: fixed;
    background-color: #003060;
    color: #fff;
    width: var(--sidebar_width);
}

.profile-content {
    font-size: smaller;
}

.selected-style i{
    color: #E55B13;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

.row {
    color: #003060;
}

#chat3 .form-control {
    border-color: transparent;
    color: #003060;
}

#chat3 .form-control:focus {
    border-color: #E55B13;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.name-msg {
    color: #003060;
}

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}

.side-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.body-img img {
    width: 45px;
    height: 100%;
    border-radius: 50%;
}

.chat-about {
    padding: 10px 0;
    border-bottom: 2px solid #f4f7f6;
    margin-bottom: 2em;
    background-color: #fff;
    z-index: 1000;
    margin-top: 1em;
}

.chat-about i {
    color: #003060;
}

.custom-message {
    background-color: #fff;
    border: 1px solid #003060;
    color: #003060;
}

.fa-paper-plane{
    color: #E55B13;
}

.with-border {
    border: 2px outset #E55B13; 
    border-radius: 50%; 
    padding: 1px; 
}

.card{
    box-shadow: 0px 4px 4px rgba(185, 184, 184, 0.25);
    border: none;
}

.menu-btn{
    text-decoration: none;
    border: none;
}

.modal-body{
    color: #003060;
}

.modal-body a{
    color: #E55B13;
}

.btn-close{
    font-size: 10px;
}

.menu, .menu input{
    cursor: pointer;
}

.btn-menu:hover{
    color: #E55B13;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-holder {
    width: 9em;
    margin-right: 10px;
    border: 1px dashed #ccc;
    color: #e4e4e4;
    text-align: center;
    margin-bottom: 1em;
}

.image-holder i {
    padding: 1em;
    font-size: 20px;
}

.report-button{
    width: 10em;
    background-color: #E55B13;
    border-color: #E55B13;
    color: #fff;
}

.report-button:hover{
    background-color: #003060;
    border-color: #003060;
    color: #fff;
}

.search-field:focus {
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.search-field {
    margin-right: 2em;
    border: none;
    background-color: #fff;
}

.input-group-text .field i{
    color: #003060;
}

/* right section outer container */
#messageOuterContainer {
    height: 430px;
    width: 93%;
    border-radius: 15px;
    box-shadow: 0 0 5px grey;
    overflow-y: scroll;
}

#messageInputContainer {
    border: 1px solid black;
    height: 50px;
    width: 350px;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#sendMessageButton {
    height: 50px;
    width: 90px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#rightSectionOuterContainer {
    position: relative;
    height: 650px;
    width: 900px;
    background-color: white;
    box-shadow: 0 0 10px grey;
    border-radius: 25px;
}

#rightSectionInnerContainer {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#leftSectionOuterContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;
    background-color: white;
    border-radius:  25px;
    box-shadow: 0 0 10px grey;
    width: 380px;
}

#messageCtn {
    height: auto;
    max-width: 350px;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    box-shadow: 0 0 3px grey;
}

.messageRight {
    float: right;
    clear: both;
    margin: 15px 15px 0 0;
}

.messageLeft {
    height: auto;
    max-width: 400px;
    float: left;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 10px;    
}

.messageCtnLeft {
    margin-left: 10px;
}

#messagesHeaderContainer {
    display: flex;
    align-items: center;
    height: 80px;
    width: 93%;
}

#anotherCtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

/* conversation menu */
.conversationMenu {
    font-size: 30px;
    font-weight: 500;
    height: 40px;
    width: 50px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ha conversation list na approach */
.conversationCtn {
    height: 75px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin: 15px 0 0 0;
    padding-left: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 5px grey;
}

#conversationList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 370px;
    min-height: 500px;
    max-height: 650px;
    position: relative;
    z-index: 1;
}

/* no conversation */
.noConversation {
    min-height: 550px;    
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

body {
    background-color: white;
}

#bodyCtn {
    /* changes kanan ellipsis */
    position: relative;
    /*  */
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* search input container */
#searchOuterContainer {
    height: auto;
    position: relative;
}

#searchInnerContainer {
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchButton {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    width: 75px;
    background-color: #003060;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

#searchInputContainer {
    border: 1px solid grey;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
    width: 100%;
    height: 50px;
}

/* search result */
.searchResultOuterCtn {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    /* opacity: 1; */
    position: absolute;
    border: 1px solid grey;
    padding-left: 15px;
}

#formOuterContainer {
    height: 80px;
    width: 93%;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

/* ellipsis */
.ellipsisPopUp {
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpInnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.popUpOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
}

.popUpButtonCtn {
    height: 100px;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popUpMessage {
    font-size: 23px;
    text-align: center;
}

/* username_fullname conversation list approach */
.username_fullname_ctn_list {
    min-width: 170px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}

/* username_fullname search approach*/
.username_fullname_ctn_search {
    padding-left:  10px;
}