/* Sidebar */
/* :root {
    --sidebar_width: 320px;
} */

.sidebar {
    position: fixed;
    background-color: #003060;
    color: #fff;
    width: var(--sidebar_width);
}

.profile-content {
    font-size: smaller;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

.myList-side-btn {
    background-color: #2D6092;
}

/* My List */
input,
select,
.modal,
textarea {
    color: #003060;
}

#exchange,
#rent {
    display: none;
}

a::after {
    content: "";
    display: table;
    clear: both;
}

.book-status{
    background-color: #E55B13;
    color: white;
}

.book-status:hover {
    background-color: white;
    border: 1px solid #E55B13;
    color: #E55B13;
}

.order {
    color: #003060;
}

.card-text {
    font-size: smaller;
}

.create-btn {
    border: 1px solid #E55B13;
    color: #E55B13;
}

.create-btn:hover {
    background-color: #E55B13;
    color: white;
}

.like-button {
    color: #2D6092;
    background: none;
    border: none;
    padding: 0;
}

.like-button:hover {
    color: #E55B13;
    background-color: transparent;
}

.like-button span{
    font-size: 15px;
}

.interaction-type{
    font-size: 1.25rem!important;
    color: #003060;
    background-color:azure;
}

.contents,
.card-body,
.card-foot {
    color: #003060;
}

.edit-book {
    color: #E55B13;
    cursor: pointer;
}

input,
select,
textarea,
button,
.shipping-btn {
    border: 1px solid #003060;
}

/* @media screen and (max-width: 556px) {
    .interaction-type{
        font-size: 1.25rem!important;
        color: #003060;
        background-color:azure;
    }
}

@media screen and (min-width: 556px) {
    .interaction-type{
        font-size: 1.25rem!important;
        color: #003060;
        background-color:azure;
    }
} */
.genre-text, .author-text, .title-text{
    white-space: nowrap;
}

.update-btn{
    background-color: #E55B13;
    margin-bottom: 2em;
}

.update-btn:hover{
    background-color: #003060;
}

.delete-btn{
    color: #E55B13; 
    border: 1px solid #E55B13;
    margin-bottom: 2em;
}

.delete-btn:hover{
    background-color: #003060;
    border: 1px solid #003060;
    color: #fff;
}

.search-field:focus {
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.input-group-text, .search-field {
    border: none;
    background-color: #fff;
}

.search-field {
    margin-right: 2em;
}

.input-group-text i{
    color: #003060;
}

a:hover {
    color: #E55B13;
    font-weight: bold;
}

.guidelines{
    margin-top: 1em;
    color: #E55B13;
}

.accordion-header button, .accordion-body, .accordion-button{
    color: #003060;
    font-size: 14px;
}





