/* :root {
    --sidebar_width: 320px;
} */

.sidebar {
    position: fixed;
    background-color: #003060;
    color: #fff;
    width: var(--sidebar_width);
}

.profile-content {
    font-size: smaller;
}

.home-side-btn {
    background-color: #2D6092;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

.seller-details {
    max-width: 1500px;
    margin-top: 3em;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #003060;
    padding: 1em;
}

.circle-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 20px;
}

.user-info {
    text-align: justify;
    margin-top: 0;
}

.user-info p {
    margin: 0;
}


.message-button,
.follow-button {
    color: #003060;
    border-color: #003060;
    font-size: 12px;
    border-radius: 15px 40px;
}

.message-button:hover,
.follow-button:hover {
    background-color: #E55B13;
    color: #fff;
    border-color: #E55B13;
}

.message-button i,
.follow-button i {
    margin-left: 5px;
    margin-right: 7px;
}

.ratings {
    text-align: justify;
}

.rate {
    margin-left: 100px;
}

.bought {
    margin-left: 55px;
}

.lent {
    margin-left: 75px;
}

.sold {
    margin-left: 95px;
}

.exchange {
    margin-left: 50px;
}

.rent {
    margin-left: 76px;
}

.ratings span {
    color: #E55B13;
}

.form-control:focus {
    box-shadow: inset 0px 0px 0px 1px #f5f3f0;
}

.input-group-text, .form-control {
    border: none;
    background-color: #fff;
}

.form-control {
    margin-right: 2em;
}

.input-group-text i{
    color: #003060;
}

.nav-underline{
    margin-left: 1em;
}

.nav-underline .nav-item .nav-link.active{
    color: #E55B13;
}

.nav-underline .nav-item {
    margin-right: 20px; 
}

.custom-nav-link{
    color: #003060;
}

.navbar-details{
    max-width: 1500px;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #003060;
    margin-left: 1.5em;
    padding: 10px;
    margin-right: 1.5em;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu .dropdown-item{
    color: #003060;
}

.ellipsis-button{
    position: absolute;
    top: 1em;
    left: 36em;
    background: none;
    border: none;
    padding: 0;
    color: #fff;
    float: right;
}

.ellipsis-button:hover{
    background-color: transparent;
    color: #fff;
}

.rating-details {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    max-width: 1500px;
    margin-top: 3em;
    color: #003060;
    margin-left: 1.5em;
}

.rating-details-review{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1500px;
    margin-top: 1em;
    color: #003060;
    margin-left: 1.5em;
}

.rating-details h5 {
    margin-bottom: 1em;
}

/* .review-rating-details {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1500px;
    color: #003060;
    margin-left: 1.5em;
    padding: 1em;
} */

.rate-button {
    width: 10em;
    margin-top: 1em;
    background-color: #E55B13;
    border-color: #E55B13;
    color: #fff;
}

.rate-button span {
    color: #fff;
}

.rate-button:hover {
    background-color: #003060;
    border-color: #003060;
    color: #fff;
}

.customer-ratings {
    max-width: 1500px;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #003060;
    /* margin-left: 1.8em; */
    padding: 2em;
    font-size: 13px;
}

.customer-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 20px;
    margin-top: -14em;
}

.customer-ratings-info {
    text-align: justify;
    margin-top: 0;
}

.customer-ratings-info p {
    margin: 0;
}

.square-picture {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: #ccc;
    margin-top: 1em;
}

.customer-ratings-info a {
    color: #E55B13;
    text-decoration: none;
    font-size: 13px;
    float: right;
    margin-left: 60em;
}

.customer-ratings-info a:hover {
    text-decoration: underline;
    color: #003060;
}

.reviews-container{
    margin-top: 2em;
    margin-left: 2em;
}

.wishlist h4, .rating-details h4 {
    margin-top: 2em;
    font-size: 22px;
    color: #003060;
    font-weight: bold;
}

.wishlist h4{
    margin-left: 1em;
}

.wishlist h6{
    color: #003060;
    margin-left: 1.5em;
    margin-top: 1em;
}

.custom-bg-color {
    background-color: #003060;
}

.card-body p {
    font-size: 14px;
}

.card-body a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #003060;
    font-size: 13px;
    margin-top: 7px;
}

.card-body a:hover {
    text-decoration: underline;
    color: #E55B13;
}

.header-create {
    margin-left: 9em;
}

.header-settings {
    margin-left: 6em;
}

.btn-create {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 9em;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #003060;
    color: #fff;
}

.btn-create:hover {
    background-color: #E55B13;
    border-color: #E55B13;
    color: #fff;
}

.btn-update {
    width: 9em;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #003060;
    color: #fff;
}

.btn-update:hover{
    background-color: #E55B13;
    border-color: #E55B13;
    color: #fff;
}

.btn-delete {
    width: 9em;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #1f1f1e;
    border-color: #1f1f1e;
    margin-left: 5em;
    color: #fff;
}

.btn-delete:hover{
    background-color: #494949;
    border-color: #494949;
    color: #fff;
}

.py-profile .avatar {
    padding: 0;
}

.py-profile .avatar:after {
    font-family: 'fontawesome' !important;
    content: "\f0d7";
    border: none;
    padding-top: 9px;
    color: #003060;
    background-color: #ffffff;
    position: absolute;
    display: block;
    font-size: 13px;
    width: 17px;
    height: 17px;
    border-radius: 25px;
    line-height: 0;
    text-align: center;
    bottom: 1px;
    right: 27px;
    margin: 0;
    border: 1px solid #003060;
}

/* .gradient-custom-2 {
    background: #fbc2eb;
    
    background: -webkit-linear-gradient(to right, #E55B13, #003060);
    
    background: linear-gradient(to right, #E55B13, #003060)
    } */