/* sidebar */
:root {
    --sidebar_width: 320px;
}

.sidebar {
    position: fixed;
    background-color: #003060;
    color: #fff;
    width: var(--sidebar_width);
}

.profile-content {
    font-size: smaller;
}

#home-side-btn {
    background-color: #2D6092;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #2D6092;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

#content {
    padding-left: var(--sidebar_width);
}

/* wishlist-style.css */
.container-fluid {
    color: #003060;
}

.create-btn {
    color: #E55B13;
    border: 1px solid #E55B13;
}

.create-btn:hover {
    color: white;
    background-color: #E55B13;
}