* {
	margin: 0;
	box-sizing: border-box;
}

/* outer container it first genre */
#outerContainer {
	height: 500px;
	width: 100%;
	border: 1px solid blue;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* design para an text response */
.responseDiv {
	font-size: 20px;
}

/* design para response container */
.innerContainer {
	margin-left: 25px;
	height: 250px;
	width: 250px;
	border: 1px solid pink;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}



